@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* KEEN SLIDER */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 40px;
  height: 40px;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #000000;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-width: 1px;
  border-radius: 100%;
  opacity: 80%;
  transition: transform 0.5s ease; /* Smooth transition for rotation */
}


.arrow:hover {
  background-color: rgb(222, 22, 206);
  transform: translateY(-50%) rotate(720deg); /* Rotate on hover */
  fill: #ffffff;
}
.arrow--left {
  left:30px;
}


.arrow--right {
  left: auto;
  right: 30px;
}



.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 100px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px solid #fdbfa6;
}